In [5]:
pip install wordcloud

Collecting wordcloud
  Using cached wordcloud-1.8.1.tar.gz (220 kB)
Requirement already satisfied: numpy>=1.6.1 in c:\users\dell\anaconda3\lib\site-packages (from wordcloud) (1.20.3)
Requirement already satisfied: pillow in c:\users\dell\anaconda3\lib\site-packages (from wordcloud) (8.4.0)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\lib\site-packages (from wordcloud) (3.4.3)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.4)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.16.0)
Building wheels for collected packages: wordcloud
  Building wheel for wordcloud (setup.py): started
  Building wheel for wordcloud (setup.py): finished with status 'error'
  Running setup.py clean for wordcloud
Failed to build wordcloud
Installing collected packages: wordcloud
    Running setup.py install for wordcloud: started
    Running setup.py install for wordcloud: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\Dell\anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-0257xpcu\\wordcloud_dfc811dc9f6d4df59e41ee0ede6641b6\\setup.py'"'"'; __file__='"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-0257xpcu\\wordcloud_dfc811dc9f6d4df59e41ee0ede6641b6\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\Dell\AppData\Local\Temp\pip-wheel-7d7cr85e'
       cwd: C:\Users\Dell\AppData\Local\Temp\pip-install-0257xpcu\wordcloud_dfc811dc9f6d4df59e41ee0ede6641b6\
  Complete output (20 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.9
  creating build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\color_from_image.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\tokenization.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\wordcloud.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\wordcloud_cli.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\_version.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\__init__.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\__main__.py -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\stopwords -> build\lib.win-amd64-3.9\wordcloud
  copying wordcloud\DroidSansMono.ttf -> build\lib.win-amd64-3.9\wordcloud
  UPDATING build\lib.win-amd64-3.9\wordcloud/_version.py
  set build\lib.win-amd64-3.9\wordcloud/_version.py to '1.8.1'
  running build_ext
  building 'wordcloud.query_integral_image' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  ----------------------------------------
  ERROR: Failed building wheel for wordcloud
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\Dell\anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-0257xpcu\\wordcloud_dfc811dc9f6d4df59e41ee0ede6641b6\\setup.py'"'"'; __file__='"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-0257xpcu\\wordcloud_dfc811dc9f6d4df59e41ee0ede6641b6\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\Dell\AppData\Local\Temp\pip-record-ixwcc0qz\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\Dell\anaconda3\Include\wordcloud'
         cwd: C:\Users\Dell\AppData\Local\Temp\pip-install-0257xpcu\wordcloud_dfc811dc9f6d4df59e41ee0ede6641b6\
    Complete output (20 lines):
    running install
    running build
    running build_py
    creating build
    creating build\lib.win-amd64-3.9
    creating build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\color_from_image.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\tokenization.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\wordcloud.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\wordcloud_cli.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\_version.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\__init__.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\__main__.py -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\stopwords -> build\lib.win-amd64-3.9\wordcloud
    copying wordcloud\DroidSansMono.ttf -> build\lib.win-amd64-3.9\wordcloud
    UPDATING build\lib.win-amd64-3.9\wordcloud/_version.py
    set build\lib.win-amd64-3.9\wordcloud/_version.py to '1.8.1'
    running build_ext
    building 'wordcloud.query_integral_image' extension
    error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
    ----------------------------------------
ERROR: Command errored out with exit status 1: 'C:\Users\Dell\anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-0257xpcu\\wordcloud_dfc811dc9f6d4df59e41ee0ede6641b6\\setup.py'"'"'; __file__='"'"'C:\\Users\\Dell\\AppData\\Local\\Temp\\pip-install-0257xpcu\\wordcloud_dfc811dc9f6d4df59e41ee0ede6641b6\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\Dell\AppData\Local\Temp\pip-record-ixwcc0qz\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\Dell\anaconda3\Include\wordcloud' Check the logs for full command output.

In [6]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\dell\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [8]:
data=pd.read_csv("E://csv_files for class//GroceryStoreDataSet.csv",names=['products'],header=None)

In [9]:
data

                          products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [10]:
data.columns

Index(['products'], dtype='object')

In [11]:
data.values

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [13]:
data = list(data["products"].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [14]:
from mlxtend.preprocessing import TransactionEncoder

In [15]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [16]:
from mlxtend.frequent_patterns import apriori

In [17]:
df1 = apriori(df,min_support=0.01,use_colnames=True)
df1

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
..      ...                                  ...
78     0.05         (BREAD, MAGGI, BISCUIT, TEA)
79     0.10  (COFFEE, BISCUIT, COCK, CORNFLAKES)
80     0.05            (BREAD, JAM, MAGGI, MILK)
81     0.05             (BREAD, JAM, MAGGI, TEA)
82     0.05      (COFFEE, TEA, MILK, CORNFLAKES)

[83 rows x 2 columns]

In [18]:
df1.sort_values(by="support",ascending=False)

    support                         itemsets
2      0.65                          (BREAD)
4      0.40                         (COFFEE)
0      0.35                        (BISCUIT)
10     0.35                            (TEA)
5      0.30                     (CORNFLAKES)
..      ...                              ...
55     0.05      (BISCUIT, MILK, CORNFLAKES)
57     0.05        (BREAD, SUGER, BOURNVITA)
17     0.05                 (SUGER, BISCUIT)
37     0.05              (MAGGI, CORNFLAKES)
82     0.05  (COFFEE, TEA, MILK, CORNFLAKES)

[83 rows x 2 columns]

In [19]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1

    support                             itemsets  length
0      0.35                            (BISCUIT)       1
1      0.20                          (BOURNVITA)       1
2      0.65                              (BREAD)       1
3      0.15                               (COCK)       1
4      0.40                             (COFFEE)       1
..      ...                                  ...     ...
78     0.05         (BREAD, MAGGI, BISCUIT, TEA)       4
79     0.10  (COFFEE, BISCUIT, COCK, CORNFLAKES)       4
80     0.05            (BREAD, JAM, MAGGI, MILK)       4
81     0.05             (BREAD, JAM, MAGGI, TEA)       4
82     0.05      (COFFEE, TEA, MILK, CORNFLAKES)       4

[83 rows x 3 columns]

In [20]:
df1[(df1['length']==2) & (df1['support']>=0.05)]

    support               itemsets  length
11     0.20       (BREAD, BISCUIT)       2
12     0.10        (BISCUIT, COCK)       2
13     0.10      (COFFEE, BISCUIT)       2
14     0.15  (BISCUIT, CORNFLAKES)       2
15     0.10       (MAGGI, BISCUIT)       2
16     0.10        (BISCUIT, MILK)       2
17     0.05       (SUGER, BISCUIT)       2
18     0.10         (BISCUIT, TEA)       2
19     0.15     (BREAD, BOURNVITA)       2
20     0.05    (BOURNVITA, COFFEE)       2
21     0.10     (SUGER, BOURNVITA)       2
22     0.10       (BOURNVITA, TEA)       2
23     0.05          (BREAD, COCK)       2
24     0.15        (BREAD, COFFEE)       2
25     0.05    (BREAD, CORNFLAKES)       2
26     0.10           (BREAD, JAM)       2
27     0.15         (BREAD, MAGGI)       2
28     0.20          (BREAD, MILK)       2
29     0.20         (BREAD, SUGER)       2
30     0.20           (BREAD, TEA)       2
31     0.15         (COFFEE, COCK)       2
32     0.10     (COCK, CORNFLAKES)       2
33     0.20   (COFFEE, CORNFLAKES)       2
34     0.05         (COFFEE, MILK)       2
35     0.20        (SUGER, COFFEE)       2
36     0.05          (COFFEE, TEA)       2
37     0.05    (MAGGI, CORNFLAKES)       2
38     0.10     (MILK, CORNFLAKES)       2
39     0.05    (SUGER, CORNFLAKES)       2
40     0.10      (TEA, CORNFLAKES)       2
41     0.10           (JAM, MAGGI)       2
42     0.05            (JAM, MILK)       2
43     0.05             (JAM, TEA)       2
44     0.05          (MAGGI, MILK)       2
45     0.20           (MAGGI, TEA)       2
46     0.05            (TEA, MILK)       2

In [21]:
df1.ascending = False
df1

    support                             itemsets  length
0      0.35                            (BISCUIT)       1
1      0.20                          (BOURNVITA)       1
2      0.65                              (BREAD)       1
3      0.15                               (COCK)       1
4      0.40                             (COFFEE)       1
..      ...                                  ...     ...
78     0.05         (BREAD, MAGGI, BISCUIT, TEA)       4
79     0.10  (COFFEE, BISCUIT, COCK, CORNFLAKES)       4
80     0.05            (BREAD, JAM, MAGGI, MILK)       4
81     0.05             (BREAD, JAM, MAGGI, TEA)       4
82     0.05      (COFFEE, TEA, MILK, CORNFLAKES)       4

[83 rows x 3 columns]

In [22]:
import matplotlib.pyplot as plt
import seaborn as sns

from wordcloud import WordCloud

plt.rcParams['figure.figsize'] = (12, 5)
wordcloud = WordCloud(background_color = 'white', width = 1200,  height = 1200, max_words = 121).generate(str(df1['itemsets']))
plt.imshow(wordcloud)
plt.axis('off')
plt.title('Items',fontsize = 20)
plt.show()

ModuleNotFoundError: No module named 'wordcloud'